::-webkit-scrollbar {
    width: 2px; /* Ширина полосы прокрутки */
    cursor: pointer;
}

::-webkit-scrollbar:hover{
    width: 50px;
}

::-webkit-scrollbar-track {
    background: #494949; /* Цвет фона полосы прокрутки */
    border-radius: 16px; /* Скругленные углы полосы прокрутки */

    margin-top: 60px;
    margin-bottom: 50px;
}


::-webkit-scrollbar-thumb {
    background: #cecece; /* Цвет полосы прокрутки */
    border-radius: 16px; /* Скругленные углы полосы прокрутки */

}





.blur-search-container{
    position: sticky;
    top: 0;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 35px;
    padding: 8px 8px 10px 8px;
    background: rgba(63, 63, 63, 0.31);
    z-index: 1; /* Чтобы поле поиска было над другими элементами */
    backdrop-filter: blur(10px); /* Эффект размытия */
    /*outline: solid 1px #ff0000;*/
}

.search-bar {
    height: 40px;

    background-color: var(--var--background-3);
    border-radius: var(--var--inner-radius);
    border:none;
    width: 100%;
    padding: 15px 20px 15px 20px;
    backdrop-filter: blur(10px); /* Эффект размытия */
    box-sizing: border-box;
    box-shadow: var(--var--box-shadow);
    color: white;
    outline: none;
    transition: var(--var--transition-slow);

    /*outline: solid 1px #505050;*/
}

.search-bar::placeholder{
    user-select: none;
    color: #565656;
}

.search-bar:focus{
    background-color: var(--var--background-0);
    box-shadow: none;
    transition: var(--var--transition-slow);
}


/* Список треков */
.track-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
    /*outline: solid 1px #505050;*/

}

