@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo_2/static/Exo2-Thin.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo_2', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

html, body {
    height: 99%; /* Задаем высоту 100% для html и body */
    margin: 0;    /* Убираем отступы */
    outline: none;
}

body {
    font-family: 'Exo_2', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    text-decoration:none;
    background-color: var(--var--background-main);
    margin: 0;
    padding: 0;
}




.left-panel{
    outline: none;
    bottom: 0;
    user-select: none;
    height: 100%;
    width: 200px;
    padding: var(--var--padding);
    margin: 10px;
    background-color: var(--var--background-1);
    border: var(--var--border);
    box-shadow: var(--var--box-shadow);
    border-radius: var(--var--outer-radius);
    overflow: hidden;
    box-sizing: border-box; /* Учитываем отступы и границы в общей высоте */
    display: flex;          /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы по вертикали */
    justify-content: normal; /* Выравниваем элементы сверху */
    transition: var(--var--transition-slow);
    /*outline: 1px solid red;*/
}

.left-panel:hover{
    box-shadow: 0 0 0 0 transparent;
    background-color: var(--var--background-2);
    transition: var(--var--transition-slow);

}


.left-panel-button{
    height: 40px;
    cursor: pointer;
    color: white;
    border: var(--var--border);
    box-shadow: var( --var-box-shadow-buttons);
    background-color: var(--var--background-1);
    border-radius: var(--var--inner-radius);
    padding: 10px;
    margin: 0 0 10px 0;

    transition: var(--var--transition-fast);
    /*outline: 1px solid red;*/
}

.left-panel-button:hover{
    border: 1px solid #3a3a3a;
    box-shadow: 0 0 0 0 transparent;
    transition: var(--var--transition-fast);
}

.left-panel-button:active{
    transition: var(--var--transition-fast);
    transform: scale(0.99);
}



.home-button{
    border: none;
    background: var(--var--background-accent-4);
    background-size: 200%;
    animation: gradientShift 10s infinite normal; /* настраиваем анимацию */
    box-shadow: var(--var--box-shadow);
    margin-bottom: 50px;
    /*width: 75%;*/
}
.home-button:hover{
    border:none;
}

/* Основной контент, который отображает содержимое вкладок */
.main-content {
    position: absolute;
    top: 10px; /* Расстояние от верхней части окна */
    left: 220px; /* Отодвигаем на ширину левой панели */
    right: 10px; /* Отступ справа */
    bottom: 100px; /* Отступ сверху над плеером */
    padding: 0 8px 0 8px;

    background: var(--var--background-1);
    border-radius: var(--var--outer-radius);
    border: var(--var--border);
    box-shadow: var(--var--box-shadow);
    overflow: auto; /* Добавляем прокрутку, если контент не помещается */
    transition: var(--var--transition-slow);
    /*outline:1px solid red;*/
}

.main-content:hover{
    box-shadow: none;
}

/* Вкладки по умолчанию скрыты */
.tab-content {
    /*outline:1px solid red;*/
    display: none;
}

/* Активная вкладка отображается */
.tab-content.active {
    display: block;
}

::selection {
    background-color: rgba(95, 246, 242, 0.51); /* Цвет выделения */
    color: black; /* Цвет текста при выделении */
}