@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo_2/static/Exo2-Thin.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo_2', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

:root{
    --var--border-radius-hight:20px;
    --var--border-radius-medium:15px;
    --var--border-radius-low:10px;
    --var--border-radius-veryLow:5px;

    --var--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.48);
    --var-box-shadow-buttons: 0 2px 10px rgba(0, 0, 0, 0.32);
    --var--border: 1px solid #505050;


    --var--background-main: #191919;
    --var--background-1: #202020;
    --var--background-2: #262626;
    --var--background-3: #505050;


    --var--transition-slow: 0.5s ease-in-out;
    --var--transition-medium: 0.3s ease-in-out;
    --var--transition-fast: 0.1s ease-in-out;
}


html, body {
    height: 99%; /* Задаем высоту 100% для html и body */
    margin: 0;    /* Убираем отступы */
    outline: none;
}

body {
    font-family: 'Exo_2', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    text-decoration:none;
    background-color: var(--var--background-main);
    margin: 0;
    padding: 0;

}


.left-panel{

    user-select: none;
    height: 100%;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: var(--var--background-1);
    border: var(--var--border);
    box-shadow: var(--var--box-shadow);
    border-radius: var( --var--border-radius-hight);
    overflow: hidden;
    box-sizing: border-box; /* Учитываем отступы и границы в общей высоте */
    display: flex;          /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы по вертикали */
    justify-content: flex-start; /* Выравниваем элементы сверху */
    transition: var(--var--transition-slow);
    /*outline: 1px solid red;*/
}

.left-panel:hover{
    box-shadow: 0 0 0 0 transparent;
    background-color: var(--var--background-2);
    transition: var(--var--transition-slow);

}


.left-panel-button{
    cursor: pointer;
    color: white;
    border: var(--var--border);
    box-shadow: var( --var-box-shadow-buttons);
    background-color: transparent;
    border-radius: var(--var--border-radius-low);
    padding: 10px;
    margin: 10px 0 10px 0;

    transition: var(--var--transition-fast);
    /*outline: 1px solid red;*/
}

.left-panel-button:hover{
    border: 1px solid #6c6c6c;
    box-shadow: 0 0 0 0 transparent;
    transition: var(--var--transition-fast);
}


/* Плеер */
.player {
    user-select: none;
    position: absolute; /* Плеер теперь размещен с помощью absolute */
    bottom: 0;
    margin: 10px;
    left: 210px; /* Сдвигаем плеер на ширину левой панели */
    width: calc(100% - 230px); /* Задаем ширину оставшегося пространства */

    border: var(--var--border);
    height: 60px;
    background: var(--var--background-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: var(--var--box-shadow);
    box-sizing: border-box;
    border-radius: var(--var--border-radius-low);
    transition: var(--var--transition-slow);
    /*outline: solid 1px #505050;*/
}

.player:hover{
    background-color: var(--var--background-2);
    box-shadow: none;
}


.track-info {
    display: flex;
    align-items: center;

    outline: solid 1px #505050;
}

.track-cover {
    background-color: var(--var--background-main);
    width: 50px;
    height: 50px;
    border-radius: var(--var--border-radius-veryLow);
    margin-right: 10px;
    border: var(--var--border);
    /*outline: solid 1px #505050;*/
}

.track-meta {
    overflow: hidden; /* Обрезка текста */
    text-overflow: ellipsis; /* Добавление многоточия */
    white-space: nowrap; /* Запрет переноса текста */
    margin-left: 10px;
    cursor: pointer;
    user-select: text;
    display: flex;
    flex-direction: column;

    /*outline: solid 1px #505050;*/
}

.track-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    /*outline: solid 1px #505050;*/
}

.track-artist {
    font-size: 12px;
    color: #d3d3d3;
}

.controls {
    overflow: hidden; /* Обрезка текста */
    white-space: nowrap; /* Запрет переноса текста */
    height: 40px;
    display: flex;
    align-items: center;
    /*outline: solid 1px #505050;*/
}

.control-btn {
    height: 40px;
    background: transparent;
    border: none;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    /*outline: solid 1px #505050;*/
}

.control-btn:hover {
    color: #ccc;
}

.controls-track-local{
    margin: 0;
    /*border-right: 1px solid black;*/
    /*padding: 5px 0 0 0 ;*/
    /*outline: solid 1px #505050;*/
}
.controls-track-global{
    margin: 0 20px 0 20px;
    /*outline: solid 1px #505050;*/
}
.play-btn{
    /*margin:0 -17px 0 -10px;*/
    margin:0 0 0 0;
}

.pause-btn{
    display:none;
}






/* Контейнер для прогресс-бара */
.progress-container {
    display: flex;
    align-items: center;
    width: 60%;
    color: #d3d3d3;
    font-size: 12px;
    gap:10px;
}

/* Основной прогресс-бар */
.progress-bar {
    position: relative;
    height: 6px; /* Высота линии прогресса */
    width: 100%; /* Ширина прогресс-бара */
    background-color: var(--var--background-3); /* Цвет незаполненной части */
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
}

/* Заполненная часть прогресс-бара */
.lineChild {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Заполненная часть должна быть такой же высоты, как и основной прогресс-бар */
    width: 50%; /* Динамически изменяемая ширина для отражения заполненной части */
    background-color: var(--var--background-main); /* Цвет заполненной части */
    border-radius: 10px;
    /*transition: width 0.1s ease-in-out;*/
}

/* Бегунок */
.lineChild::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    background-color: black; /* Цвет бегунка */
    border-radius: 50%;
    cursor: pointer;
}




/* Контейнер настроек громкости */
.volume-settings {
    display: flex;
    align-items: center;
    gap: 5px; /* Расстояние между иконкой и ползунком */
}

/* Иконка громкости */
.control-btn {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Контейнер для полосы громкости */
.volume-bar {
    position: relative;
    height: 7px; /* Высота линии громкости */
    width: 100px; /* Ширина громкости */
    background-color: #707070; /* Цвет фона (незаполненная часть) */
    border-radius: 10px;
    cursor: pointer;
}

/* Заполненная часть полосы громкости */
.volume-level {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Заполненная часть должна быть такой же высоты, как и основной трек */
    width: 50%; /* Начальная громкость - 50% */
    background-color: lightgrey; /* Цвет заполненной части */
    border-radius: 10px;
}

/* Бегунок громкости */
.volume-level::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    background-color: black; /* Цвет бегунка */
    border-radius: 50%;
    cursor: pointer;
}