@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo_2/static/Exo2-Thin.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo_2', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

html, body {
    height: 99%; /* Задаем высоту 100% для html и body */
    margin: 0;    /* Убираем отступы */
    outline: none;
}

body {
    font-family: 'Exo_2', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    text-decoration:none;
    background-color: var(--var--background-main);
    margin: 0;
    padding: 0;

}




.left-panel{
    outline: none;
    bottom: 0;
    user-select: none;
    height: 100%;
    width: 200px;
    padding: var(--var--padding);
    margin: 10px;
    background-color: var(--var--background-1);
    border: var(--var--border);
    box-shadow: var(--var--box-shadow);
    border-radius: var(--var--outer-radius);
    overflow: hidden;
    box-sizing: border-box; /* Учитываем отступы и границы в общей высоте */
    display: flex;          /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы по вертикали */
    justify-content: normal; /* Выравниваем элементы сверху */
    transition: var(--var--transition-slow);
    /*outline: 1px solid red;*/
}

.left-panel:hover{
    box-shadow: 0 0 0 0 transparent;
    background-color: var(--var--background-2);
    transition: var(--var--transition-slow);

}


.left-panel-button{
    height: 40px;
    cursor: pointer;
    color: white;
    border: var(--var--border);
    box-shadow: var( --var-box-shadow-buttons);
    background-color: var(--var--background-1);
    border-radius: var(--var--inner-radius);
    padding: 10px;
    margin: 0 0 10px 0;

    transition: var(--var--transition-fast);
    /*outline: 1px solid red;*/
}

.left-panel-button:hover{
    border: 1px solid #6c6c6c;
    box-shadow: 0 0 0 0 transparent;
    transition: var(--var--transition-fast);
}

.left-panel-button:active{
    transition: var(--var--transition-fast);
    transform: scale(0.95);
}

.home-button{
    background-image:var(--var--background-accent-1);
    margin-bottom: 50px;
    box-shadow: var(--var--box-shadow);
    transition: var(--var--transition-fast);
    /*width: 75%;*/
}








/* Плеер */
.player {
    user-select: none;
    position: absolute; /* Плеер теперь размещен с помощью absolute */
    bottom: 0;
    margin: 10px;
    left: 210px; /* Сдвигаем плеер на ширину левой панели */
    width: calc(100% - 230px); /* Задаем ширину оставшегося пространства */

    border: var(--var--border);
    height: 80px;
    background: var(--var--background-1);
    /*background-image:var(--var--background-accent-1);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: var(--var--outer-radius);
    box-shadow: var(--var--box-shadow);
    box-sizing: border-box;

    transition: var(--var--transition-slow);
    /*outline: solid 1px #505050;*/
}

.player:hover{
    background-color: var(--var--background-2);
    box-shadow: none;
}

.track-info {
    display: flex;
    align-items: center;

    /*outline: solid 1px #505050;*/
}

.track-cover {
    background-color: var(--var--background-main);
    width: 64px;
    height: 64px;
    border-radius: var(--var--inner-radius);
    margin-right: 10px;
    box-shadow: var(--var--box-shadow);
    border: var(--var--border);
    transition: var(--var--transition-slow);
    /*outline: solid 1px #505050;*/
}
.track-cover:hover{
    box-shadow: none;
}


.track-meta {
    width: 150px;
    overflow: hidden; /* Обрезка текста */
    text-overflow: ellipsis; /* Добавление многоточия */
    white-space: nowrap; /* Запрет переноса текста */
    margin-left: 10px;
    cursor: pointer;
    user-select: text;
    display: flex;
    flex-direction: column;
    position: relative; /* Относительное позиционирование */
    margin-right: 20px;
    /*outline: solid 1px #505050;*/
}

.track-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #cbcbcb;

    display: inline-block;

    /*outline: solid 1px #505050;*/
}

.track-artist {
    font-size: 12px;
    color: #9a9a9a;
    /*outline: solid 1px #505050*/
}




.main-controls {
    height: 80px; /* Высота может быть адаптивной */
    width: 50%;
    margin: 0 auto; /* Центрируем основной блок относительно родителя */
    display: flex;
    flex-direction: column; /* Элементы внутри будут расположены вертикально */
    align-items: center; /* Центрируем содержимое по горизонтали */
    /*outline: solid 1px #505050*/
}


.controls-track-local {
    display: flex; /* Используем flex для кнопок управления */
    justify-content: center; /* Центрируем кнопки внутри блока */
    /*gap: 5px; !* Отступы между кнопками *!*/
    width: 100%; /* Занимает всю ширину родительского контейнера */
    margin: 15px 0 10px 0;
}

.controls-track-global{
    margin-right: 5%;

}

.control-btn {
    background: transparent;
    border: none;
    /*font-size: 24px;*/
    cursor: pointer;
    margin:0 10px 0 10px;
    /*outline: solid 1px #505050;*/
}

.play-btn{

}

.pause-btn{
    display: none;
}



.timecode-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.timecode-start,
.timecode-end {
    font-size: 14px;
    color: #d3d3d3;
}

.timecode-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, #707070, #424242);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}


.timecode-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #e0e0e0;
    border-radius: 50%;
    cursor: pointer;

}










/* Контейнер настроек громкости */
.volume-settings {
    display: flex;
    align-items: center;
    gap: 5px; /* Расстояние между иконкой и ползунком */
}


/* Контейнер для полосы громкости */
.volume-bar {
    position: relative;
    height: 7px; /* Высота линии громкости */
    width: 100px; /* Ширина громкости */
    background-color: #707070; /* Цвет фона (незаполненная часть) */
    border-radius: 10px;
    cursor: pointer;
}

/* Заполненная часть полосы громкости */
.volume-level {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Заполненная часть должна быть такой же высоты, как и основной трек */
    width: 50%; /* Начальная громкость - 50% */
    background-color: lightgrey; /* Цвет заполненной части */
    border-radius: 10px;
}

/* Бегунок громкости */
.volume-level::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    background-color: black; /* Цвет бегунка */
    border-radius: 50%;
    cursor: pointer;
}



/* Основной контент, который отображает содержимое вкладок */
.main-content {
    position: absolute;
    top: 10px; /* Расстояние от верхней части окна */
    left: 220px; /* Отодвигаем на ширину левой панели */
    right: 10px; /* Отступ справа */
    bottom: 100px; /* Отступ сверху над плеером */
    padding: 0 8px 0 8px;

    background: var(--var--background-1);
    border-radius: var(--var--outer-radius);
    border: var(--var--border);
    box-shadow: var(--var--box-shadow);
    overflow: auto; /* Добавляем прокрутку, если контент не помещается */
    transition: var(--var--transition-slow);
    /*outline:1px solid red;*/
}

.main-content:hover{
    box-shadow: none;
}

/* Вкладки по умолчанию скрыты */
.tab-content {
    /*outline:1px solid red;*/
    display: none;
}

/* Активная вкладка отображается */
.tab-content.active {
    display: block;
}