.blur-add-playlist-container{
    cursor:pointer;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    margin-left: -8px;
    margin-right: -8px;
    /*margin-bottom: 35px;*/
    padding: 8px;

    background: rgba(73, 73, 73, 0.34);
    z-index: 1;
    backdrop-filter: blur(20px);

    transition: var(--var--transition-fast);
}

.blur-add-playlist-container:hover{
    color:black;
    background: rgba(190, 190, 190, 0.25);
    transition: var(--var--transition-fast);
}


/* Контейнер для плейлистов */
.playlists-container {
    display: flex;
    flex-wrap: wrap;
    /*gap: 20px;*/
}

/* Плейлист */
.playlist-item {
    position: relative;
    width: 300px; /* Fixed width */
    box-sizing: border-box;
    background-color: var(--var--background-3);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin:15px;
    border-radius: var(--var--outer-radius);
    border: var(--var--border);
    box-shadow: var(--var--box-shadow);

    transition: var(--var--transition-medium);
}



.playlist-item:hover {
    background-color: var(--var--background-4);
    transition: var(--var--transition-medium);
    box-shadow: none;
}





/* Обложка плейлиста */
.playlist-cover {
    position: relative;
    width: 100%;
    height: 300px; /* Match the image height */
}

.playlist-cover img {
    user-select: none;
    border-radius: 23px;
    width: 298px; /* Fixed width */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

/* Кнопки внизу плейлиста */
.playlist-name {
    cursor: text;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-radius: var(--var--outer-radius);


    /*outline: 1px solid red;*/
}




.context-playlist-menu{
    cursor:auto;

    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    top:10px;
    right:10px;
    bottom:10px;
    /*height: 95%;*/
    opacity: 0;
    border-radius: var(--var--inner-radius);
    padding: 10px;

    backdrop-filter: blur(10px); /* Эффект размытия */
    background: rgba(77, 77, 77, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.78);

    transition: var(--var--transition-medium);
    /*outline:solid red;*/
}

.context-playlist-menu:hover{
    background: rgba(54, 54, 54, 0.5);
    transition: var(--var--transition-medium);
}


.playlist-btn {

    user-select: none;
    padding: 5px 10px;
    cursor: pointer;

    color: #ffffff;
    border-radius: var(--var--border-radius);
    background-color: rgba(124, 124, 124, 0.45);
    border: #202020;
    box-shadow: var(--var--box-shadow);

    font-size:12px;

    transition: var(--var--transition-fast);
    /*outline: 1px solid red;*/
}
.playlist-btn:hover{
    box-shadow:none;
    transition: var(--var--transition-fast);
    background-color: rgba(124, 124, 124, 0.25);
}


.delete-button{
    margin-bottom:10px;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.45);
}

/* Эффект при наведении на кнопку удаления */
.delete-button:hover {
    background-color: rgba(255, 0, 0, 0.25);
}


.playlist-item:hover .context-playlist-menu {
    transition: var(--var--transition-medium) ;
    opacity: 1;
}








/* Стили для содержимого плейлиста */
.playlist-content {
    /* Изначально скрыто */
}

.back-btn {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}









/* Адаптивность */
@media screen and (max-width: 1000px) {
    .playlist-item {
        flex: 0 0 calc(33.333% - 20px);
    }
}

@media screen and (max-width: 750px) {
    .playlist-item {
        flex: 0 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 500px) {
    .playlist-item {
        flex: 0 0 calc(100% - 20px);
    }
}
