/* Основной контейнер для настроек */
.settings-container {
    user-select: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: transparent;
    border-radius: 20px;
    /*transition: var(--var--transition-fast);*/
    /*outline: solid 1px #ff0000;*/
}

/* Секция для каждой категории (Интерфейс и Бэкенд) */
.settings-section {
    width:48%;
    background-color: var(--var--background-2);
    border-radius: 20px;
    padding: 20px;
    box-shadow: var(--var--box-shadow);
    transition: var(--var--transition-fast);
}

/* Заголовок секции */
.settings-section h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;

}

/* Элементы внутри каждой секции */
.settings-item {
    /*width: 20%;*/
    background-color: var(--var--background-3);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: var(--var-box-shadow-buttons);
    /*cursor: pointer;*/
    transition: var(--var--transition-fast);
}

/* Эффект при наведении на элемент */
.settings-item:hover {
    transform: scale(1.006);
    background-color: var(--var--background-4);
    transition: var(--var--transition-fast);
}

.dropdown{
    cursor: pointer;
    color: white;
    padding: 5px;
    border: var(--var--border);
    box-shadow: var(--var-box-shadow-buttons);
    border-radius: var(--var--inner-radius);
    background-color: var(--var--background-2);
    outline: none;
    /*outline: solid red;*/
}

.dropdown option {
    cursor: pointer;
    background-color: var(--var--background-2);
    color: white;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


.settings-theme-container{
    display: flex;
    justify-content:left;
}
.settings-theme{
    margin-left: 2%;
    width: 10%;
    cursor:pointer;
    background-color: var(--var--background-1);
    /*outline: solid red;*/
}

.selected-directory{
    color: #00a0c4;
    height: 30px;
    cursor: pointer;
    box-shadow: var(--var-box-shadow-buttons);
    border-radius: var(--var--border-radius);
    padding:5px 10px 5px 10px;
    margin: 10px 0 10px 0;
    width: 50%;
    background-color: var(--var--background-2);
}